Source: sqdr-apmplanner2
Section: science
Priority: extra
Maintainer: APM Planner Developers <stephen_dade@hotmail.com>
Vcs-Git: git@github.com:SquadroneSystem/sqdr-apm_planner.git
Build-Depends: debhelper,
 qt5-qmake,
 qtbase5-dev,
 qtscript5-dev,
 libqt5webkit5-dev,
 libqt5serialport5-dev,
 libqt5svg5-dev,
 libqt5opengl5-dev,
 qml-module-qtquick-controls,
 zlib1g-dev,
 libasound2-dev,
 libsdl2-dev,
 libsndfile-dev,
Homepage: https://github.com/SquadroneSystem/sqdr-apm_planner
Standards-Version: 3.9.4

Package: sqdr-apmplanner2
Architecture: any
Depends: ${shlibs:Depends},
 qml-module-qtquick2,
 qml-module-qtquick-controls,
Description: Ground station software for autonomous vehicles.
 A GUI ground control station for autonomous vehicles 
 using the MAVLink protocol.
 Includes support for the APM and PX4 based controllers.
 If installing for the first time use "sudo dpkg -i ${finalfilename}", then
 "sudo apt-get install -f" and "sudo dpkg -i ${finalfilename}".
 If upgrading use "sudo dpkg -i ${finalfilename}".
 If uninstalling use "sudo dpkg -r apmplanner2".

